# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
!/craft/storage/logo/*
.env
.idea
vendor
.DS_Store
craft/storage/backups/*
craft/storage/runtime/*
craft/storage/userphotos/
.DS_Store
Thumbs.db
.cache
.project
*.sass-cache
logs/*
package-lock.json
package.json
node_modules/*
src/*
.HttpRequest/
.MirrorSearch/
.appdata/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cagefs/
.cl.selector/
.contactemail
.cpanel/
.cphorde/
.dns
.env.example
.ftpquota
.gitconfig
.htaccess
.lastlogin
.my.cnf
.razor/
.rnd
.spamassassin/
.sqmaildata/
.ssh/
.subaccounts/
access-logs
cache/
composer.json
composer.lock
config/
cpbackup-exclude.conf
craft
craft.bat
etc/
mail/
modules/
ssl/
tmp/
var/
www