{% extends "_layout" %}
{% set title = "Home" %}

{% block body %}

<main>
    <section class="col-full">
  <article>
      <h1>{{ entry.title }}</h1>
      <div>
        {{ entry.blogBody }}
      </div>
  </article>

</section>
</main>

{% endblock %}