{% extends "_layout" %}
{% set title = "Home" %}

{% block body %}

  <main>
    <section class="col-full">
      <h1>Version controlled!</h1>
      <h3>Josh green</h3>
      <a href="mailto:josh@joshgreendesign.com" target="_blank">email me</a> ✉️

      <p>Is it quitting time?</p>

{% set hour = now|date("G") %}
{% if hour >= 16 and hour < 18 %}
    <p>Yes!</p>
{% else %}
    <p>Nope.</p>
{% endif %}
    </section>
  </main>


<h3>Watch me count to ten!</h3>
<ul>
    {% for num in range(1, 10) %}
        <li class="{{ cycle(['odd', 'even'], loop.index0) }}">
            {{ num }}
        </li>
    {% endfor %}
</ul>
{% if currentUser %}
Welcome, {{ currentUser.friendlyName }}!
{% endif %}


{% endblock %}

