<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ siteName }}</title>
  <link href="{{ siteUrl }}assets/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="site-header">
    <section class="site-branding">

    </section>
  </header><!-- /header -->
  <main>
    <section class="col-full">
      <h1>Version controlled!</h1>
      <h3>Josh green</h3>
      <a href="mailto:josh@joshgreendesign.com" target="_blank">email me</a> ✉️
    </section>
  </main>

{% if currentUser %}
Welcome, {{ currentUser.friendlyName }}!
{% endif %}


  <footer class="site-footer">
    <p>
      i am some footer text
    </p>
  </footer>
  <script src="{{ siteUrl }}assets/js/all.js" defer></script>
</body>
</html>